body {
  background: #efefef;
  text-align: center;
  padding: 10px;
}
pre {
  white-space: pre;
  background: #e6e6e6;
  border: #bdbdbd solid 1px;
  padding: 20px;
  text-align: left;
  margin: 0;
}
.code-block {
  flex: 1;
  margin: 0 15px;
}
#codes{
  display: flex;
  margin: 30px 0 0;
}
h2, .code-block p { 
  margin: 0;
}